{% extends "base.html" %} {% block title %}Welcome{% endblock %} {% block content
    %}
    <section class="hero">
        <div class="container">
            <h1>Secure File Sharing Made Simple</h1>
            <p>Gagali lets you share files with better privacy and more control.</p>
        </div>
    </section>
    <section class="features">
        <div class="container">
            <h2>Why Gagali?</h2>
            <div class="feature-item">
                <h3>Privacy</h3>
                <p>Gagali gives you better privacy controls than our competitors. You can track who has accessed your files and when.</p>
            </div>
            <div class="feature-item">
                <h3>Easy to use</h3>
                <p>Gagali is simple and easy to use. You can drag and drop files to upload them, and share them with just a few clicks.</p>
            </div>
            <div class="feature-item">
                <h3>Flexible Pricing</h3>
                <p>Our pricing plans are flexible and affordable, with no hidden fees or charges. it is actually free</p>
            </div>
        </div>
        <div><a href="/sign-up">Sign up or log in</a></div>
    </section>
</main>
    {% endblock %}