{% extends "base.html" %} {% block title %}View logs{% endblock %} {% block content
    %}
    <div class="content">
        <div>
          <h6>Here are the latest views of {{filename}}</h6>
          <table>
            <thead>
              <tr>
                <th>Time</th>
                <th>IP address</th>
                <th>City</th>
                <th>Region</th>
                <th>Country</th>
              </tr>
            </thead>
            <tbody>
              {% for event in events %}
                <tr>
                  <td>{{ event.time }} UTC</td>
                  <td>{{ event.ip_address }}</td>
                  <td>{{ event.city }}</td>
                  <td>{{ event.region }}</td>
                  <td>{{ event.country }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
    {% endblock %}