{% extends "base.html" %} {% block title %}View logs{% endblock %} {% block content
    %}
    <div class="content">
        <div>
          <h6>Here are the latest views of {{filename}}</h6>
          <table>
            {{events}}
            <thead>
              <tr>
                <th>Time</th>
                <th>IP address</th>
              </tr>
            </thead>
            <tbody>
              {% for event in events %}
                <tr>
                  <td> ET</td>
                  <td>{{ event.ip_address }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
    {% endblock %}